.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #dfe1f3;
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
	width: 100%;
}

.kg {
	width: 10rpx;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20rpx;
	background-color: #FFFFFF;
}

.g-font-46 {
	font-size: 46rpx;
}

.g-text-center {
	text-align: center;
}

.poster-bg {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 0;
	position: fixed;
	z-index: -1;
}

.detail-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.nav {
	display: inline-block;
	margin-left: 20rpx;
}

.choose {
	color: #2b85e4;
	border-bottom: 3px solid #2b85e4
}

.player_box {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.box_child {
	flex: 0 0 20%;
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

/* ====================================================================list页面 */
.switch-content {
  padding-bottom: 30rpx;
}
.movie-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 228rpx;
  padding: 0 30rpx;
}
.movie-section::after{
  position: absolute;
  content: '';
  height: 0;
  width: calc(100% - 208rpx);
  right:30rpx;
  bottom:0;
  border-bottom: 1px solid #f0f0f0;
}

.movie-info {
  margin: 0 20rpx;
  font-size: 26rpx;
  color: #666;
  width: 70%;
}

.movie-info>view {
  margin-bottom: 6rpx;
}

.movie-img {
  width: 128rpx;
  height: 180rpx;
}

.movie-name {
  font-size: 34rpx;
  color: #333;
  padding-right: 10rpx;
}

.version{
  display: inline-block;
  height: 28rpx;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10rpx;
  margin-top: 10rpx;
}

.grade {
  font-weight: 700;
  color: #faaf00;
  font-size: 30rpx;
}
.line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


